<div>


<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h2 class="Stratum2-Light text-left border-bottom-orange">OSU Energy Dashboard</h2>
		<p class="text-justify">
			This application was designed and created by a group of students at Oregon State University with the help of the Oregon State
			University Office of Sustainability to serve as their engineering capstone project.</p>
		<p class="text-justify">
			Oregon State University is constantly making strides to reduce its carbon footprint and reduce its energy consumption. OSU
			has carbon neutrality goal of 2025 and aims to generate as much energy as it uses to have a net carbon footprint of zero.
			This application will to monitor the energy usage of buildings on campus and create a visual representation of each building's
			energy consumption to inspire people to be more aware of their consumption habits so they may make choices to reduce the
			campus's overall consumption.
			<br>
			<br> Essentially, this web application will be an administrative dashboard containing charts and graphs of energy usage rates
			for individual buildings and subgroups of buildings on Oregon State's campus. Public users may view energy usage data
			for all buildings on campus and authorized users will have access to personally generated stories of customized dashboards.
			Each buildings associated data page will display a dashboard of data blocks which contain charts or graphs of energy usage
			rates. Aside from the default building pages, authorized users customize their own dashboards for their own unique interests.
			An example of this would be a user created dashboard which displays energy data for all residence halls. Authorized users
			will be able to tailor their experience to their preference.
		</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h2 class="Stratum2-Light text-left border-bottom-orange">History</h2>
		<p class="text-justify">The Oregon State University Sustainability Office is housed in the Finance and Administration division. The Sustainability
			Office was formed by the creation of a full time sustainability coordinator position in November 2005. In December 2007,
			an additional half-time position was created primarily to support the collection and management of campus utility data.
			In November 2008, the half-time position was moved to a permanent full time position and duties expanded to focus on energy
			conservation efforts.
		</p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h2 class="Stratum2-Light text-left border-bottom-orange">Missions</h2>
		<p class="text-justify">The Sustainability Office exists to - in the most sustainable way possible - support OSU’s mission to promote economic,
			social, cultural and environmental progress for the people of Oregon, the nation and the world. The Sustainability Office
			fosters a culture of sustainability, enhances student competency around issues of sustainability, reduces the university’s
			overall environmental impact and communicates sustainability efforts to the campus community and external audiences. It
			aims to offer the highest quality of services to the OSU campus in its four functional areas:
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-3"></div>
	<div class="col-sm-8">
		<ul>
			<li>
				Infrastructure and Policy
			</li>
			<li>
				Outreach and Communication
			</li>
			<li>
				Assessment
			</li>
			<li>
				Student Engagement and Academic Support
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<p class="text-justify">Mirroring the interdisciplinary nature of sustainability, many projects and initiatives overlap multiple functional areas.
			Several projects and programs detailed on this website are managed or directly supported by the Office, while others are
			partnerships with other OSU units.</p>
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h3 class="Stratum2-Light text-left border-bottom-orange">Sustainability Office Social Media</h3>
	</div>
</div>
<div class="row text-center">
	<div class="col-sm-3"></div>
	<div class="col-sm-2">
		<a class="s_media_link" href="https://www.facebook.com/OSUsustainable/" target="_blank" style="display: inline-block; margin: 10px 0px 0px 0px auto;">
			<img src="assets/fblogo_0.png" alt="Facebook" width="50" height="50">
		</a>
	</div>
	<div class="col-sm-2">
		<a class="s_media_link" href="https://twitter.com/OSUSustainable" target="_blank" style="display: inline-block; margin: 10px 0px 0px 0px auto;">
			<img src="assets/twitterlogo_55acee_0.png" alt="Twitter" width="65" height="65">
		</a>
	</div>
	<div class="col-sm-2">
		<a class="s_media_link" href="https://www.instagram.com/osusustainable/" target="_blank" style="display: inline-block; margin: 10px 0px 0px 0px auto;">
			<img src="assets/small_instagram_app_large_may2016_200.png" alt="Instagram" title="Instagram" width="50" height="50">
		</a>
	</div>
</div>
<br>
<br>
</div>