<div class="row mx-auto pt-3 pb-3" style="width: 90%;">
    <h2 class="Stratum2-Light text-orange">Sustainability Office</h2>
</div>


<div class="row mx-auto mt-3" style="width: 90%;">

    <div class="col-sm-4 p-0 h-100">
        <div class="container">
            <div class="w-100 pb-3">
                <img class="profile-pic border-orange" style="width:60%;" src="../../assets/people/lety_square.jpg" alt="Card image cap">
            </div>
            <div class="w-100 p-2 ml-2">
                <p class="font-weight-normal" style="font-size: 150%; color: #DC4405;">
                    <a class="text-orange Stratum2-Thin">Leticia Cavazos</a>
                    <a href="http://fa.oregonstate.edu/email/node/936/field_group_email" target="_top">
                        <img class="rounded" style="width:8%;" src="../../assets/email-icon.png" alt="email">
                    </a>
                </p>
                <p class="Stratum2-Light font-weight-light" style="font-size: 110%;">Program Specialist</p>
                <p style="font-size: 85%;">Leticia was hired as a student at the Sustainability Office in June of 2014. In December 2016, she transitioned
                    to the full-time position of Program Specialist. Her primary duties include utility data acquisition,
                    management, and analysis, meter hardware management, and sustainability assessment.</p>
            </div>
        </div>
    </div>

    <div class="col-sm-4 p-0 h-100">
        <div class="container">
            <div class="w-100 pb-3">
                <img class="profile-pic border-orange" style="width:60%;" src="../../assets/people/jack_square.jpg" alt="Card image cap">
            </div>
            <div class="w-100 p-2 ml-2">
                <p class="font-weight-normal" style="font-size: 150%; color: #DC4405;">
                    <a class="text-orange Stratum2-Thin">Jack Woods</a>
                    <a href="http://fa.oregonstate.edu/email/node/936/field_group_email" target="_top">
                        <img class="rounded" style="width:8%;" src="../../assets/email-icon.png" alt="email">
                    </a>
                </p>
                <p class="Stratum2-Light font-weight-light" style="font-size: 110%;">Utility Data Analyst Student Technician</p>
                <p style="font-size: 85%;">Jack joined the Sustainability Office in April 2017. He is currently studying Computer Science. Jack's focus
                    is on data management, special projects regarding computer information technology and website tools.</p>
            </div>
        </div>
    </div>
	
</div>
<div class="row mx-auto pt-3 pb-3" style="width: 90%;">
    <h3 class="Stratum2-Light text-orange">Dev Team</h3>
</div>
<div class="row mx-auto mt-3" style="width: 90%;">

    <div class="col-sm-4 p-0 h-100">
        <div class="container">
            <div class="w-100 pb-3">
                <img class="profile-pic border-orange" style="width:50%;" src="../../assets/people/dan_square.jpg" alt="Card image cap">
            </div>
            <div class="w-100 p-2">
                <p class="font-weight-normal" style="font-size: 120%; color: #DC4405;">
                    <a class="text-orange Stratum2-Thin">Daniel Schroeder</a>
                    <a href="mailto:schrodan@oregonstate.edu" target="_top">
                        <img class="rounded" style="width:8%;" src="../../assets/email-icon.png" alt="email">
                    </a>
                </p>
                <p class="Stratum2-Light font-weight-light" style="font-size: 90%;">OSU Energy Dashboard Developer</p>
            </div>
        </div>
    </div>
	
    <div class="col-sm-4 p-0 h-100">
        <div class="container">
            <div class="w-100 pb-3">
                <img class="profile-pic border-orange" style="width:50%;" src="../../assets/people/aub_square.jpg" alt="Card image cap">
            </div>
            <div class="w-100 p-2">
                <p class="font-weight-normal" style="font-size: 120%; color: #DC4405;">
                    <a class="text-orange Stratum2-Thin">Aubrey Thennel</a>
                    <a href="mailto:thenellb@oregonstate.edu" target="_top">
                        <img class="rounded" style="width:8%;" src="../../assets/email-icon.png" alt="email">
                    </a>
                </p>
                <p class="Stratum2-Light font-weight-light" style="font-size: 90%;">OSU Energy Dashboard Developer</p>
            </div>
        </div>
    </div>
	
    <div class="col-sm-4 p-0 h-100">
        <div class="container">
            <div class="w-100 pb-3">
                <img class="profile-pic border-orange" style="width:50%;" src="../../assets/people/parker_square.jpg" alt="Card image cap">
            </div>
            <div class="w-100 p-2">
                <p class="font-weight-normal" style="font-size: 120%; color: #DC4405;">
                    <a class="text-orange Stratum2-Thin">Parker Bruni</a>
                    <a href="mailto:brunip@oregonstate.edu" target="_top">
                        <img class="rounded" style="width:8%;" src="../../assets/email-icon.png" alt="email">
                    </a>
                </p>
                <p class="Stratum2-Light font-weight-light" style="font-size: 90%;">OSU Energy Dashboard Developer</p>
            </div>
        </div>
    </div>
	
</div>
<br>
<br>
