<nav ng-init="getStories()" id="storynav" class="d-none d-sm-block bg-light sidebar" ng-controller="storyController">
    <ul id="storyNavList" class="nav nav-pills flex-column  Stratum2-Light border-orange">
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link text-center m-0 orange-button" href="#createStory" ng-click="create()">ADD STORY+</a>
            </div>
        </li>
        <li class="custom-nav-item dash-item" ng-model="stories" ng-repeat="story in stories">
            <div class="nav-item-container container">
                <a class="custom-nav-link ml-1" ng-click="viewStory(story)" href="#viewStory">{{story.name}}</a>
            </div>
        </li>
    </ul>
</nav>
<script>
    $('#storyNavList').on('click', function () {
        $('#dashboardSelector').removeClass('showDash');
        $('#dashboardSelector').addClass('hideDash');
    });
</script>
