<div class="container-fluid p-0">
	<div class="row w-100 m-0">
		<div class="col-sm-6 mx-auto text-center">
			<h2 class="Stratum2-Light m-0">Oregon State University</h2>
			<h4 class="Stratum2-Light text-orange m-0">Energy Dashboards</h4>
			<h5 class="Stratum2-Thin">Campus Building Energy Usage Information</h5>
		</div>
	</div>
	<div class="row pt-3 w-100 m-0">
		<div class="col-sm-10 mx-auto">
			<div class="container" style="height:450px;">
				<ons-navigator ng-controller="mapController" ng-init="getBuildings()">
					<div class="d-block border-orange" style="height: 100%" id="map" ng-init="loadMap()"></div>
				</ons-navigator>
			</div>
		</div>
	</div>
</div>
<br><br>
