<!doctype html>
<html>

<head>
    <title>OSU Office of Sustainability</title>
    <link rel="shortcut icon" href="../assets/logo.png">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 40px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>
                <span class=""></span>Monitoring Energy Usage on Campus</h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger">
                <span class="fa fa-google-plus"></span> Google</a>
        </div>
    </div>
</body>

</html>
