<div class="container-fluid p-0" ng-controller="userController" ng-hide="accountAccess < 2">
    <div class="row w-100 m-0">
        <div class="col-sm-6 mx-auto text-center">
		<br><br>
            <h1 class="Stratum2-Light text-orange m-0">Energy Dashboards</h1>
            <h4 class="Stratum2-Thin">Send Registration Email</h4>
        </div>
    </div>
    <div class="Stratum2-Light row pt-3 w-100 m-0">
        <div class="col-sm-6 mx-auto text-center">
            <form class="container" style="height:450px;">
                <div class="form-group row mt-4">
                    <label for="email" class="ml-3">Email</label>
                    <input class="form-control" type="email" ng-model="email.email" name="email" id="email" required/>
                </div>
              
                <div class="form-group row mt-3">
                <label for="access" class="ml-3">Access Level</label>
                    <select id="dropdownTypes" class="form-control " ng-model="email.access">
                        <option value='0'>Guest</option>
                        <option value='1'>User</option>
                        <option value='2'>Administrator</option>
                    </select>
                    </div>
                   
                <button type="submit" class="btn border-orange-thin background-orange text-white" ng-click="submit()">Invite!</button>
            </form>
        </div>
    </div>
</div>