<header>
	<div class="row">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top border-bottom-orange px-2 Stratum2-Light card-shadow" style="background-color: #121212; padding: 28px;">
			<object class="svg" type="image/svg+xml" data="assets/svg/logo.svg">
				Your browser does not support SVG
			</object>
			<div class="Stratum2-Bold text-center select-none text-orange absolute container-fluid" style="margin-left: 71px">
				<h5 class="m-auto" id="top-nav-title">
					<a class="nav-link text-orange select-none" onMouseOver="this.style.color='#DC4405'" href="#">OSU Energy Dashboard</a>
				</h5>
			</div>
			<div class="collapse navbar-collapse text-center ml-sidenav absolute">
				<ul id="topNavBar" class="navbar-nav">
					<li class="nav-item">
						<a id="topHome" class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#allBuildings">Buildings</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Public</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#public-dashboards">Dashboards</a>
							<a class="dropdown-item" href="#public-stories">Stories</a>
						</div>
					</li>
					<!--
					<li class="nav-item">
						<div class="float-right dropdown-click">
							<a class="nav-link">Public</a>
							<div class="dropdown-content-click border-orange font-weight-normal">
								<a class="" href="#public-dashboards">Dashboards</a>
								<a class="" href="#public-stories">Stories</a>
							</div>
						</div>
					</li>
					-->
				</ul>
			</div>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navBarDefault" aria-controls="navBarDefault"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<span class="navbar-text pr-3" style="margin-right: 60px;" id="login-greeting">
				<a ng-hide="accountAccess < 2" ng-href="/#/register" class="mb-2 pb-2 px-4 Stratum2-Bold" style="text-decoration: none;" role="button"
				    aria-pressed="true" id="register" ng-controller="mainController">Register</a>
				{{$parent.greeting}}
			</span>
			<a ng-href="/{{$parent.myLink}}" class="mb-2 pb-2 px-4 Stratum2-Bold" style="text-decoration: none;" role="button" aria-pressed="true"
			    id="login">{{$parent.login_status}}</a>
		</nav>
	</div>
</header>

<script>
	$('#topNavBar a').on('click', function () {
		if (this.id == 'topHome') {
			$('#sideNavList').find('li.active-nav-item').removeClass('active-nav-item');
			$('#sideNavList').find('#sideHome').parent().parent().addClass('active-nav-item');
		} else {
			$('#sideNavList').find('li.active-nav-item').removeClass('active-nav-item');
		}

	});
</script>