<br>
<h1 class="Stratum2-Light font-weight-bold">Meters
    <a ng-click="addMeter()" class="btn border-orange-thin background-orange text-white float-right">Add New Meter+</a>
</h1>
<br>
<table class="table border-black Stratum2-Thin font-weight-bold">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Meter Name</th>
            <th scope="col">Meter Serial</th>
            <th scope="col">Connected Building</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-bottom-orange background-white" ng-repeat="meter in meters track by meter._id">
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{meter.name}}</td>
            <td>{{meter.meter_id}}</td>
            <td>{{meter.building.name}}</td>
            <td>
                <div class="float-right dropdown">
                    <button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
                    <div class="dropdown-content border-orange">
                        <a ng-click="EditMeter(meter)">Edit</a>
                        <a ng-click="DeleteMeter(meter)">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>