<div ng-controller="blockController">
	<br>
	<h1 class="Stratum2-Light font-weight-bold">My Blocks
		<a href="#createblock" ng-click="create()" class="btn border-orange-thin background-orange text-white float-right">Create Block+</a>
	</h1>
	<br>
	<div >
		<div ng-init="initVals()">
		<div  class="card mb-3 Stratum2-Light font-weight-bold border-orange-thin" style="width: 100%;"
		    ng-repeat="block in userBlocks">
			<div class="card-header h-100">
				<div class="row m-0">
					<div class="col-3">
						<div class="h-100 d-inline-flex">
							<h4 class="align-middle m-0 font-weight-bold">
								{{block.name}}
							</h4>
						</div>
					</div>
					<div class="col-7">
					</div>
					<div class="col-2">
						<div class="float-right dropdown">
							<button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
							<div class="dropdown-content border-orange font-weight-normal">
								<a class="" ng-click="EditBlock(block)">Edit</a>
								<a class="" ng-click="DeleteBlock(block)">Delete</a>
								<a class="" ng-click="printCSV({block: block, index: $index})">Export Data</a>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="row  m-0">
					<div class="col-3">
						<h3>Buildings:</h3>
						<ul class="list-unstyled">
							<li class=" p-1" ng-repeat="building in block.building">
								<a ng-controller="buildingController" ng-click="viewBuilding(building)" class="btn btn-light">{{building.name}}</a>
							</li>
						</ul>
					</div>
					<div class="col-2">
						<div class="row" ng-model="block._id">
							<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">High</div>
							<ul class="list-unstyled">
								<li ng-init="" ng-repeat="val in maxValues | filter:{ id: block._id }">
									<div class="font-weight-bold mb-0 table-responsive-sm" style="width: 100%;">
										<table class="table mb-0 ">
											<tr style="width: 100%;">
												<td class="text-right p-0 pr-2 align-middle" style="width: 30%; !important">
													{{val.name}}:
												</td>
												<td class="text-left p-0 align-middle" style="width: 70%; !important">
													{{val.max}} {{val.units}}
												</td>
											</tr>
										</table>
									</div>
								</li>
							</ul>
						</div>
						<div class="row">
							<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">Median</div>
							<ul class="list-unstyled">
								<li ng-repeat="val in medValues | filter:{ id: block._id }">
									<div class="font-weight-bold mb-0 table-responsive-sm" style="width: 100%;">
										<table class="table mb-0 ">
											<tr style="width: 100%;">
												<td class="text-right p-0 pr-2 align-middle" style="width: 30%; !important">
													{{val.name}}:
												</td>
												<td class="text-left p-0 align-middle" style="width: 70%; !important">
													{{val.med}} {{val.units}}
												</td>
											</tr>
										</table>
									</div>
								</li>
							</ul>
						</div>
						<div class="row">
							<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">Low</div>
							<ul class="list-unstyled w-100">
								<li ng-repeat="val in minValues | filter:{ id: block._id }">
									<div class="font-weight-bold mb-0 table-responsive-sm" style="width: 100%;">
										<table class="table mb-0 ">
											<tr style="width: 100%;">
												<td class="text-right p-0 pr-2 align-middle" style="width: 30%; !important">
													{{val.name}}:
												</td>
												<td class="text-left p-0 align-middle" style="width: 70%; !important">
													{{val.min}} {{val.units}}
												</td>
											</tr>
										</table>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-7" ng-controller="chartController">
						<div class="row container p-0 m-0">
							<canvas ng-init="createChart({building: block.building, name : block.name, var : 'Accumulated Real Energy Net', type : block.chart, id:block._id})"
							    class="myChart d-inline-block w-100"></canvas>
						</div>
						<div class="row p-1 m-3">
							<div class="col-2"></div>
							<div class="col-3">
								<button class="btn btn-success" ng-click="filterResults({building: block.building,
								var : 'Accumulated Real Energy Net', range : 'lastweek',name : block.name, index : $index, type : block.chart, id:block._id})">
									Last Week</button>
							</div>
							<div class="col-3">
								<button class="btn btn-success" ng-click="filterResults({building: block.building,
								var : 'Accumulated Real Energy Net', range : 'thisweek', name : block.name,index : $index, type : block.chart, id:block._id})">
									This Week</button>
							</div>
							<div class="col-3">
								<button class="btn btn-success" ng-click="filterResults({building: block.building,
								var : 'Accumulated Real Energy Net', range : 'month', name : block.name,index : $index, type : block.chart, id:block._id})">
									This Month</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
