<div ng-controller="blockController">
    <h3>Update: {{block.name}}</h3>
    <div class="row mt-4 pl-2">
        <div class="col-sm-5 col-md-5">
            <h4>Edit Information</h4>
            <div class="form-group row mt-4">
                <label for="inputName" class="ml-3">Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputName" ng-model="nameForm" placeholder="Name">
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="inputChart" class="ml-3">Chart Name</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputChart" ng-model="chartForm" placeholder="Chart">
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="dropdownBuildings" class="ml-3">Select Buildings:</label>
                <div class="col-sm-12">
                    <select id="dropdownBuildings" class="form-control " ng-model="buildingSelection" required ng-options="building.name for building in buildings track by building._id"
                        ng-change="selection(buildingSelection)">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-5 col-md-5">
            <h4>Current Buildings</h4>
            <ul class="list-group mt-4 mb-4">
                <div ng-repeat="buildings in selectedBuildings track by buildings._id">
                    <li class="list-group-item">
                        {{buildings.name}}
                        <button ng-model="buildings" type="button" style="" class="btn-sml btn-danger float-right" ng-click="removeBuilding(buildings)">
                            <span class="" aria-hidden="false">&times;</span>
                        </button>
                    </li>
                </div>
            </ul>
        </div>
        <button type="submit" class="btn btn-success" ng-click="submit()">Update Block</button>
    </div>
</div>