// @Author: Brogan Miner <Brogan>
// @Date:   2018-11-06T13:11:28-08:00
// @Email:  brogan.miner@oregonstate.edu
// @Last modified by:   Brogan
// @Last modified time: 2019-02-11T20:37:19-08:00

$--color-white: #fff !default;
$--color-black: #1A1A1A !default;
$--nav-height: 70px;
$--color-primary: #D73F09;
$--color-info: #1A1A1A;
$--color-danger: #d62326;
$--font-size-base: 16px;
$--font-size-small: 14px;
$--font-size-large: 22px;
$--font-weight-primary: 700;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
// @import "~element-ui/packages/theme-chalk/src/index";
