// Global variables
$color-white: #fff !default;
$color-black: #1a1a1a !default;
$nav-height: 70px;
$color-primary: #d73f09;

// Override Element Plus variables
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': $color-white,
    'black': $color-black,
    'primary': (
      'base': $color-primary,
    ),
    'info': (
      'base': #1a1a1a,
    ),
    'danger': (
      'base': #d62326,
    ),
  ),
  $font-size: (
    'base': 16px,
    'small': 14px,
    'large': 22px,
  )
);

// Override the CSS variables
:root {
  --el-font-weight-primary: 700;
}
