<br>
<div class=" Stratum2-Light font-weight-bold" ng-controller="dashboardController">
    <h1 ng-init="getTitle()" class="Stratum2-Light font-weight-bold">{{title}}</h1>
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h4>Edit Information</h4>
            <div class="form-group row mt-4">
                <label for="inputDashboardName" class="ml-3">Dashboard Name</label>
                <div class="col-sm-12">
                    <input ng-init="getName()" type="text" class="form-control" maxlength="30" id="inputDashboardName" ng-model="nameForm" placeholder="Name">
                </div>
            </div>
            <div class="form-group row mt-4">
                <label for="inputDashboardDescription" class="ml-3">Dashboard Description</label>
                <div class="col-sm-12">
                    <textarea ng-init="getDescription()" class="form-control" maxlength="140" id="inputDashboardDescription" ng-model="descriptionForm"
                        rows="4"></textarea>
                </div>
            </div>
            <div class="form-check ml-4" ng-hide="accountAccess < 2">
                <input ng-init="getPublicFlag()" class="form-check-input" type="checkbox"
                       ng-model="publicCheck" id="defaultCheck1" >
                <label class="form-check-label pl-1" for="defaultCheck1">
                    Make Public
                </label>
            </div>
            <div class="form-group row mt-4">
                <label for="dropdownBlocks" class="ml-3">Select Blocks:</label>
                <div class="col-sm-12">
                    <select ng-init="getDashboardBlocks()" id="dropdownBlocks" class="form-control " ng-model="blockSelection" required ng-options="block.name for block in userBlocks"
                        ng-change="selection(blockSelection)">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1">
        </div>
        <div class="col-sm-5 col-md-5">
            <h4>Current Blocks</h4>
            <ul class="list-group mt-4 mb-4">
                <div ng-repeat="blocks in selectedBlocks track by blocks._id">
                    <li class="list-group-item">
                        {{blocks.name}}
                        <button ng-model="blocks" type="button" style="" class="btn-sml btn-danger float-right" ng-click="removeBlock(blocks)">
                            <span class="" aria-hidden="false">&times;</span>
                        </button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="col-sm-5 col-md-5">
        <button type="submit" class="btn border-orange-thin background-orange text-white" ng-click="submit()">{{buttontext}}</button>
    </div>
</div>
