<h3>Edit (Dan's Dashboard)</h3>
<div class="row mt-4" ng-controller="blockController">
    <div class="col-sm-5 col-md-5">
        <h4>Edit Information</h4>
        <div class="form-group row mt-4">
            <label for="inputDashboardName" class="ml-3">Dashboard Name</label>
            <div class="col-sm-12">
                <input type="name" class="form-control" id="inputDashboardName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="inputDashboardDescription" class="ml-3">Dashboard Description</label>
            <div class="col-sm-12">
                <textarea class="form-control" id="inputDashboardDescription" rows="4"></textarea>
            </div>
        </div>
        <select class="form-control mt-4">
            <option selected>Block 1</option>
            <option>Block 2</option>
            <option>Block 3</option>
            <option>Block 4</option>
        </select>
    </div>
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-5 col-md-5">
        <h4>Current Blocks</h4>
        <ul class="list-group mt-4 mb-4">
            <li class="list-group-item">
                Block 1
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
            <li class="list-group-item">
                Block 2
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
            <li class="list-group-item">
                Block 3
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
        </ul>
    </div>
</div>
