<br>
<div ng-controller="dashboardController">
<h1 class="Stratum2-Light font-weight-bold">Public Dashboards</h1>
<ul ng-init="getPublicDashboards()" class="list-group mt-4 mb-4 Stratum2-Light">
    <li class="list-group-item border-orange-thin p-2 building-card-highlight pointer" ng-click="ViewDashboard(dashboard)"
        ng-repeat="dashboard in publicDashboards">
        <div class="row px-2 mb-2">
            <div class="col-sm-12">
                <h4 class="m-0 ">{{dashboard.name}}
                    <div ng-hide="accountAccess < 2" class="float-right pr-3 dropdown" style="font-size:18px">
                        <button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
                        <div class="dropdown-content border-orange font-weight-normal">
                            <a class="" ng-click="EditDashboard(dashboard)">Edit</a>
                            <a class="" ng-click="DeleteDashboard(dashboard)">Delete</a>
                        </div>
                    </div>
                </h4>
                <h6 class="m-0">Description:
                    <p>{{dashboard.description}}</p>
                </h6>
            </div>
        </div>
    </li>
</ul>
</div>